extends views/layouts/view
include views/components/card

block content
  - const { testimonials } = htmlWebpackPlugin.options
  section.section--main.section--full-height.section--light-grey.container(data-scroll-section)
    h1.section_header(data-scroll data-scroll-speed="1" data-scroll-delay="0.05") studio
      br
      span.padding-left-2.text-color--pink
        span.text-italic .
        | circule
    img.margin-left-4.width-4.section_img(src=require("./assets/images/_img/homepage_main.jpg"))
    .row.section_content-attached-bottom
      .col-offset-9.circle
      .col-offset-9.col-3
        .separator
        p.indent-negative-3 Bonjour et bienvenue chez Studio Circule. Avec des outils comme le coaching, le magnétisme et les soins énergétiques, nous vous accompagnons dans votre vie et vos projets.

  section.section--light-grey.container(data-scroll-section)
    .row
      .col-8
        h1
          span.padding-left-6.text-color--pink carole
          br
          |  cicciu kopec
      .col-offset-1.col-2
        p.indent-negative-2 Je suis la fondatrice de Studio Circule. Mon métier&nbsp;? Énergéticienne, designer, artiste, magnétiseur, coach, collectionneuse d’expériences.
          br
          | Enfant, mon emploi du temps consistait à aller à l’école, prendre des cours d’arts plastiques et d’orgue électronique, voir mes ami.e.s et pratiquer un à deux sports quasi quotidiennement.
    .row
      .col-offset-4.col-8
        .separator
    .row
      .col-offset-4.col-2
        p Au collège et lycée, j’ai rejoint la filière sport-étude avec une option mineure arts plastiques. J’ai pratiqué le basket en championnat, puis la boxe française m’a emmenée jusqu’au bac.
          | Quand il a été question de choisir une orientation, il a été très difficile pour moi de me décider.
      .col-2
        p J’étais plutôt douée partout et surtout j’aimais tout faire en même temps.
          | C’est aussi ce que j’ai ressenti après 10 ans d’études d’art et de design lorsque je suis arrivée sur le marché du travail en France. Être salariée à temps-plein était très rassurant mais m’enfermait dans une seule définition de « Carole ».
      .col-offset-1.circle

  section.section--light-grey.container(data-scroll-section)
    .row
      .col-3
        p.text-lead J’avais l’impression de ne pas être entière ni vraiment à ma place.
          br
          | Alors j’ai voulu reprendre ce même mode de vie que celui de l’enfance : faire plusieurs activités qui se complètent.
        .separator
      .col-offset-1.col-4
        img(src=require("./assets/images/_img/carole.jpg"))
      .col-2
        p Cela m’a inspirée pour t’accompagner de différentes façons ; que ce soit par l’échange oral, par des séances de soins énergétiques ou encore des séances d’exercices.
    .row
      .col-1.circle
      .col-offset-7.col-2
        p Ainsi, j’ai trouvé mon métier et ma façon d’être épanouie pour exprimer toute ma créativité.

  section.section--light-grey(data-scroll-section)
    img(src=require("./assets/images/_img/homepage_big.jpg"))

  section.section--light-grey.container(data-scroll-section)
    .row
      .col-1.circle
      .col-offset-5.col-2
        p.text-lead Je suis là pour faire un bout de route avec toi pour ajuster ce qui a besoin de l’être.
      .col-2
        p Pour rétablir un équilibre, à l’intérieur et à l’extérieur de toi, ou juste pour te faire du bien. Que ce soit toi, ton intérieur, ta garde-robe, ou encore tes projets, je suis là pour t’aider à retrouver une forme d’harmonie pour bien vivre et atteindre tes objectifs.
          | Nous avons conçu ce site comme un magazine (ça c’était juste pour réaliser un de mes rêves de petite fille
      .col-2
        p Je te souhaite de t’y sentir bien, que tu puisses parcourir les différentes rubriques à ton rythme et viennes piocher ce que tu as envie et ce dont tu as besoin. Je suis ravie de répondre à tes questions ici, de te proposer un rdv là et si tu n’as qu’une minute devant toi ; cours faire un tirage !

  section.section--light-grey.container(data-scroll-section)
    .row
      .col-offset-1.col-5
        h2 Ethique
          br
          | & déontologie
    .row
      .col-offset-1.col-5
        ul.list
          li
            p J’envoie mes certifications sur demande.
          li
            p Jean François Laurent m’a transmis la pratique et les protocoles de radiesthésie
          li
            p J’ai obtenu mon certificat de praticienne Reiki par l’école de Reiki.
          li
            p Je respecte l’intégrité physique et morale de mes consultants et fais preuve d’une stricte confidentialité.
          li
            p Je suis constamment en apprentissage car je complète ma boîte à outils par des formations diverses indiquées dans mes qualifications.
          li
            p Attention, mes pratiques et accompagnements ne se substituent nullement à la médecine allopathique, mais agissent en complément. Je ne délivre pas de diagnostic ni n’interfère avec un traitement médical, ce n’est pas mon métier.
              | Consulte en priorité un médecin adapté à ta pathologie.
      .col-offset-4.col-1.circle

  section.section--light-grey.container(data-scroll-section)
    .row
      .col-offset-1.col-1.aligned-bottom.circle
      .col-offset-4.col-5
        h2 Diplômes & qualifications
        ul.list
          li
            p Maitre Praticienne Reiki Usui (Niveau III) de l’école de Reiki de Gauthier Papp, Paris
          li
            p Magnétiseur et coach intuitive ; transmission par Jean-François Laurent, Lille
          li
            p MFA Spécialité Applied Arts, Sandberg Insituut, Amsterdam
          li
            p Master en Design, Ecole Européenne Supérieure d’Arts de Bretagne, Rennes
          li
            p Bachelor en Design d’espaces, Ecole Européenne Supérieure d’Arts de Bretagne, Brest

  section.section--testimonials.section--light-grey.section--full-height.container(data-scroll-section)
    .row
      .col-offset-3.col-7
        p.text-callout Ils ont testé la méthode .Circule pour des soins énergétiques ou des séances de coaching et vous racontent.
    .row
      .col-offset-3.col-5
        .separator
      .col-offset-2.col-1.circle
    .row
      .col-offset-1.col-2
        a(href=testimonials[0].page_link)
          img(src=testimonials[0].avatar.url)


  section.section--light-grey.section--full-height.section--cards.container(data-scroll-section)
    .row
      .col-12
        h1.section_header.row
          span.col-12.text-color--pink l’oracle
          br
          span.col-3 de
          span.col-9 roleca
    .row
      .col-5
        .separator
    .row
      .col-1.circle
      .col-offset-2.col-2
        p Clique sur les cartes défilantes et découvre le message qu’elles ont à te délivrer.
          | Des decks sont disponibles sur notre e-shop. Amour, Attraction, Protection et Relaxation, ces 4 jeux t’accompagnent comme un oracle pouvant t’apporter des guidances quotidiennes.
          | Chaque jeu contient 21 cartes pour te rappeler qu’une bonne habitude et un changement peuvent s’opérer en seulement 21 jours.
          | Pour en savoir plus, contacte-nous !
    .cards
      .row
        .cards_col.col-offset-6.col-2
          +card
          +card
        .cards_col.col-2
          +card
          +card
        .cards_col.col-2
          +card
          +card


