extends views/layouts/view
include views/components/circle

block content
  - const { title, date, rich_content, header, cover: {url} } = htmlWebpackPlugin.options
  section.post.container.post(data-scroll-section)
    .row
      .col-12
        a.post_back-link(href="/inspiration.html") Retour
    .row
      +circle.aligned-bottom
      .col-offset-3.col-6
        h1.post_header.text-callout(data-scroll)
          span.title-animation
            span.title-animation_content=title
    .row
      .col-offset-4.col8
        p.post_date=date
    .row
      .col-2
        if header
          p.mt-5=header
      .post_content.col-offset-2.col-8
        .separator.separator--big
        if url
          img.img-auto(src=url)
          //TODO: fix canvas position
          canvas.circle-canvas.circle-canvas--img(data-scroll)
        p=rich_content
