include ../../views/components/modal
- const { name, page_title, endpoint } = htmlWebpackPlugin.options
- const website_title = `Circule | ${page_title}`
doctype html
html(lang=locale)
  head
    title=website_title
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    meta(property="og:title" content=page_title)
    meta(property="og:image" content=`${endpoint}/meta_image.jpg`)
    meta(property="og:url" content=endpoint)
    meta(property="og:type" content="website")
    meta(property="og:site_name" content=website_title)
    meta(property="og:locale" content="fr_FR")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="627")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:url" content=endpoint)
    meta(name="twitter:title" content=page_title)
    meta(name="twitter:image" content=`${endpoint}/meta_image.jpg`)
    link(rel="icon" href=`${endpoint}/favicon.ico`)
  body(data-barba="wrapper")
    include ../partials/no_js
    a.logo.hover.text-link(href="/") .CIRCULE
    .wrap(class=name data-barba="container" data-barba-namespace=name)
      include ../partials/header
      main(data-scroll-container)
        block main
      +modal
      .transition-panel
      .circle-flag
        .circle-flag_content
          p.circle-flag_order Inspire lorsque le cercle grandit, expire lorsqu'il reprend sa forme initiale. Idéalement, fais cette expérience pendant au moins 10 inspirations et ressens le calme qui s'installe en toi. 
          p.circle-flag_order Inspire lorsque le cercle grandit, expire lorsqu'il reprend sa forme initiale. Idéalement, fais cette expérience pendant au moins 10 inspirations et ressens le calme qui s'installe en toi. 
          p.circle-flag_order Inspire lorsque le cercle grandit, expire lorsqu'il reprend sa forme initiale. Idéalement, fais cette expérience pendant au moins 10 inspirations et ressens le calme qui s'installe en toi. 
          p.circle-flag_order Inspire lorsque le cercle grandit, expire lorsqu'il reprend sa forme initiale. Idéalement, fais cette expérience pendant au moins 10 inspirations et ressens le calme qui s'installe en toi. 
          p.circle-flag_order Inspire lorsque le cercle grandit, expire lorsqu'il reprend sa forme initiale. Idéalement, fais cette expérience pendant au moins 10 inspirations et ressens le calme qui s'installe en toi. 
      canvas.circle-canvas.circle-canvas--main
    .spy.spy--hidden
    include ../partials/menu_mobile
