mixin testimonial(t)
  figure.figure(class=attributes.class)
    a(href=t.page_link)
      if t.avatar
        img.figure_img.img-auto(src=t.avatar.url)
    figcaption
      p.figure_date=t.testimonial_name
      h2.text-h3=t.testimonial_quote
      if t.testimonial_description
        p=t.testimonial_description

